<%- include('../partials/header.ejs') %>
    <div class="row">
        <div class="col-3 mx-auto my-5">
            Add a new hotel
            <form action="/hotels" method="post" class="needs-validation" novalidate>
                <div class="form-floating mb-3">
                    <input name="hotel[name]" type="text" class="form-control" id="name" required placeholder="Hotel Name">
                    <label for="name">Hotel Name</label>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter a name for hotel.
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input name="hotel[address]" type="text" class="form-control" id="address" required placeholder="Hotel address">
                    <label for="address">Hotel address</label>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter a address for hotel.
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input name="hotel[price]" type="number" class="form-control" id="price" required placeholder="Hotel price" min="100" max="1000" step="100">
                    <label for="price">Hotel price</label>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter a price for hotel.
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input name="hotel[image]" type="text" class="form-control" id="image" required placeholder="Hotel image">
                    <label for="image">Hotel image</label>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter a image for hotel.
                    </div>
                </div>

                <input type="submit" value="add" class="mt-2 btn btn-primary">
            </form>
        </div>
    </div>
    <script src="/scripts/form-validation.js"></script>
    <%- include('../partials/footer.ejs') %>