<%- include('../partials/header.ejs') %>
    <div class="row">
        <div class="col-3 mx-auto my-5">
            Register form
            <form action="/register" method="post" class="needs-validation" novalidate>
                <div class="form-floating mb-3">
                    <input name="username" type="email" class="form-control" id="email" placeholder="name@example.com"
                        required>
                    <label for="email">Email address</label>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please choose a username.
                    </div>
                </div>
                <div class="form-floating">
                    <input name="password" type="password" class="form-control" id="password" placeholder="Password"
                        required>
                    <label for="password">Password</label>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter a password.
                    </div>
                </div>
                <input type="submit" value="Register" class="mt-2 btn btn-primary">
            </form>
        </div>
    </div>

    <script src="/scripts/form-validation.js"></script>
    <%- include('../partials/footer.ejs') %>